body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html {
	font-size: 62.5%;
	/* user-select: none; */


}

::selection {
	background-color: rgb(85, 20, 170);
	color: white;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}


/* HEADER */
.header {
	position: fixed;
	width: 100%;
	background-color: rgba(209, 236, 112, 0.4);
	z-index: 10;
	border-bottom: 1px solid white;
}

/* ...........when scrol then bg color show....... */
.header-bg {
	background-color: #D1B594;
	transition: 0.5s;
	color: rebeccapurple !important;
	box-shadow: 0 0 10px white;
}

.navbar {
	z-index: 1;
	position: fixed;
	width: 100%;
}

.navbar .container {
	position: sticky;
	top: 0;
}


.container .navbar-brand {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.container .navbar-brand img {
	margin-right: .6rem;
	height: 5rem;
	width: 5rem;
}

.navbar .navbar-nav .nav-item .nav-link {
	color: white;
	font-size: 1.7rem;
	margin-right: 2rem;
}

h3 {
	background: linear-gradient(#98482E, rgb(15, 15, 15));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* HOME PAGE */
.home-section {
	/* background-image: linear-gradient(to right, black, red, green); */
	background-image: url('/images/home_background.avif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

.home-main {
	display: flex !important;
	align-items: center !important;
	justify-content: center;
	align-content: center;
	height: 100vh;

}

.home-main .home-info h3 {
	margin-bottom: 3rem;
}

.home-main .home-info h1 {
	font-size: 6rem;
	color: #A25132;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
}

.home-main .home-info p {
	font-size: 2rem;
	color: white;
}

.home-main .home-info .tex {
	color: white;
	font-size: 35px;
}

.home-main .home-info .home-btn .btn1 {
	background-color: transparent;
	padding: 2px 15px;
	border: 3px solid transparent;
	outline: 2px solid #A25036;
	font-size: 2rem;
	margin-top: 50px;
	border-radius: 50px;
	box-shadow: inset 0px 0px 10px #A25036;
	transition-timing-function: ease-in-out;
	transition-duration: .3s;
	margin-left: 30px;

}

.home-main .home-info .home-btn .btn1:hover {
	transform: scale(1.1) translateY(-5px);
}


.home-main .home-info .home-btn a {
	color: #A25036;
	
	text-decoration: none;

}

/* image secton */
.myphoto {
	width: 40rem;
	height: 42rem;
	position: absolute;
	bottom: 8rem;
	right: 15rem;
	animation: opc 1s linear 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	box-shadow: 0px 0px 30px rebeccapurple, 40px 0px 200px rebeccapurple inset, 0px 10px 10px red;
	border: 1px solid white;
	border-radius: 50%;
	opacity: 0;
}

@keyframes opc {

	0% {
		box-shadow: 0px 0px 30px rebeccapurple, 200px 0px 200px rebeccapurple inset, 0px 10px 10px red;

	}

	25% {
		box-shadow: 0px 0px 30px rebeccapurple, 280px 0px 200px rebeccapurple inset, 0px 10px 10px red;
	}

	50% {
		box-shadow: 0px 0px 30px rebeccapurple, 350px 0px 200px rebeccapurple inset, 0px 10px 10px red;

	}

	75% {
		box-shadow: 0px 0px 30px rebeccapurple, 400px 0px 200px rebeccapurple inset, 0px 10px 10px red;

	}

	100% {
		opacity: 1;
		/* box-shadow: 0px 0px 30px rebeccapurple, 400px 0px 200px rebeccapurple inset, 0px 10px 10px red ; */

	}

}

.animated img {
	margin-top: 100px;
	height: 200px;
	position: absolute;
	bottom: 640px;
	right: 250px;
	animation: updown 2s ease-in-out alternate-reverse both;
	animation-duration: 2s;
	animation-iteration-count: 1;
	overflow: hidden;
}


@keyframes updown {
	0% {
		transform: translateY(-300px);
	}

	100% {
		transform: translateY(520px);
	}
}


.text {
	position: absolute;
	opacity: 0;
	bottom: 100px;
	right: 50px;
}

.text h2 {
	font-size: 2.5rem;
}


/*  */

/* Home Section AboutSection :start */
.about {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	height: 100%;
	background-color: #A35238;
}

.about .left {
	text-align: center;
	margin: auto;
	padding: 1rem;
	max-width: 650px;
}

.about .left p {
	margin: 1.2rem;
}

.about .right {
	max-width: 700px;
}

.right .img-container {
	height: 60vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/* position: relative; */
	align-items: center;
	margin-bottom: 60px;
	margin-left: 200px;

}

.right img {
	max-width: 90%;
	width: 300px;
	height: auto;
	border: 1px solid #fff;
	border-radius: 10px;

}

.right .top {
	width: 29vw;
	grid-column: 1 / span 8;
	grid-row: 1;
	padding-top: 20%;
	z-index: 6;
	transition-duration: .6s;
}
.right .top:hover {
    transform: scale(1.05);
    border-color: #cccccc;
}
.right .bottom {
    width: 29vw;
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 5;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, z-index 0.6s ease-in-out;
}

.right .bottom:hover {
    z-index: 10;
    transform: translateX(10px);
    opacity: 0.9;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, z-index 0.6s ease-in-out;
	
}

.cont{
	background-image: url('/images/home_background.avif');
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	padding: 40px 0px;
}

/* Contact */
.containers {
  width: 85%;
  background: #D1B697;
  margin: auto;
  margin-bottom: 100px;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.containers .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containers .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align:start;
}

.content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: white;
}

.containers .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .containers {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  .containers .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .containers {
    margin: 40px 0;
    height: 100%;
  }

  .containers .content {
    flex-direction: column-reverse;
  }

  .containers .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .containers .content .left-side::before {
    display: none;
  }

  .containers .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}